/* contact us */

#csp_contactUs {
    font-size: 18px;
    padding-right: 0.5em;
}

#csp_contactUs_label {
    display: none;
}
@media(min-width: 1366px) {
    #csp_contactUs_label {
        display: inline-block;
        padding: 0.5em;
    }
}